<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Third year student at <a class="underline-link" href="https://kjsce.somaiya.edu/kjsce/?/kjsce/" target="_blank">K. J. Somaiya College of Engineering</a>, majoring in Computer Engineering. 
    </p>

    <p>
      I am a regular participant in competitions held on <a class="underline-link" href="https://www.codechef.com/users/kunal_2" target="_blank">CodeChef</a> and currently exploring the fields of Machine learning and Deep learning, which seem quite fascinating to me. I do like attending Tech meet-ups and various Hackathons as well. I have deep interests in DevOps and related backend technologies.
    </p>

    <p>
      <strong>When I'm not doing the above things</strong>, I'm either contributing to open source or binge watching TV Series / Anime / Football or simply listening to EDMs. 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
