<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Technology Associate at <a class="underline-link" href="https://morganstanley.com" target="_blank">Morgan Stanley</a>.
    </p>

    <p>
      I love building applications, right from wireframing designs to shipping them. I am thrilled by the process! I am currently exploring the TypeScript ecosystem.
      I also get my hands dirty with problem-solving on <a href="https://leetcode.com/2knal/" class="underline-link">LeetCode</a>.
    </p>

    <p>
      <strong>When I'm not doing the above things</strong>, I'm either playing FPS games or binge watching Anime/TV Series.
    </p>

    {% include employment-status.html %}
  </div>
</section>
