<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Student at <a class="underline-link" href="https://kjsce.somaiya.edu/kjsce/?/kjsce/" target="_blank">K. J. Somaiya College of Engineering</a>, in my sophomore year, majoring in Computer Engineering. 
    </p>

    <p>
      I am a regular participant on competitions held on <a class="underline-link" href="https://www.codechef.com/users/kunal_2" target="_blank">CodeChef</a> and currently exploring the fields of Machine learning and Deep learning, which seem quite fascinating to me. I do like attending Tech meet-ups and various Hackathons as well.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably in front of my mobile screen, playing or watching Football or any of the TV Series or Anime or simply listening to Music.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
