<section class="section experience">
  <div class="section__title">Achievements</div>
  <div class="section__content">
    <div class="jobs">
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a class="underline-link" href="https://kjsce.somaiya.edu/en/" target="_blank">Smart India Intra Hackathon, KJSCE</a>
          </div>
          <div class="job__time">February 2020</div>
        </div>
        <div class="job__position">Top 3 in 50+ teams across college</div>
      </div>
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a class="underline-link" href="https://mhacks.org/" target="_blank">MHACKS 2019</a>
          </div>
          <div class="job__time">October 2019</div>
        </div>
        <div class="job__position">Qualified for the hackathon</div>
      </div>
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a class="underline-link" href="https://www.sih.gov.in/" target="_blank">Smart India Hackathon 2019</a>
          </div>
          <div class="job__time">March 2019</div>
        </div>
        <div class="job__position">Winner for Problem Code: AK5 (ChatBot for EGovernance)</div>
      </div>
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a class="underline-link" href="https://inctf.in/" target="_blank">InCTF</a>
          </div>
          <div class="job__time">December 2018</div>
        </div>
        <div class="job__position">Qualified, 26th out of 300+ teams across the country</div>
      </div>
    </div>
  </div>
</section>
      