<section class="section experience">
        <div class="section__title">Major Hackathons</div>
        <div class="section__content">
          <div class="jobs">

            <div class="job">
              <div class="time-place">
                <div class="job__company">
                  <a class="underline-link" href="https://hackdotslash.co.in" target="_blank">Dotslash 2.0</a>
                </div>
                <div class="job__time">February 2019</div>
              </div>
              <!-- <div class="job__position">Winner for Problem Code: AK5 (ChatBot for EGovernance)</div> -->
            </div>

            <div class="job">
              <div class="time-place">
                <div class="job__company">
                  <a class="underline-link" href="https://www.sih.gov.in/" target="_blank">Smart India Hackathon 2019</a>
                </div>
                <div class="job__time">March 2019</div>
              </div>
              <div class="job__position">Winner for Problem Code: AK5 (ChatBot for EGovernance)</div>
            </div>

            <div class="job">
              <div class="time-place">
                <div class="job__company">
                  <a class="underline-link" href="https://mhacks.org/" target="_blank">MHACKS 2019</a>
                </div>
                <div class="job__time">October 2019</div>
              </div>
              <!-- <div class="job__position">Winner for Problem Code: AK5 (ChatBot for EGovernance)</div> -->
            </div>

          </div>
        </div>
      </section>
      