<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Kunal Sonawane</span>, a Computer Programmer. I build or break things for a living.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch, here's my public key </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://keybase.io/2knal" target="_blank" class="highlight-link">A3D7797965CF3AAD</a>
    </span>
  </h3>
</header>
